body {
  transition: background-color 0.3s ease;
  margin: 0;
}

body.dark-body {
  background-color: #0f172a;
}

div:where(.swal2-container) {
  font-family: system-ui, -apple-system, sans-serif !important;
}